.ElementoDaListaMobile{
    display: none;
}
.SwipeableViews{
    height: 83.5vh;
    width: 100%;
    background-color: #e3f2fd;
    padding-top: 10px;
}
.SwipeableViewsList{
    overflow-y: scroll;
}
.SwipeableViews::-webkit-scrollbar{
    width: 10px;
}
.SwipeableViews::-webkit-scrollbar-thumb{
   background-color: rgb(142, 174, 255);
}

.PerfilBlocos{
   padding: 10px;
   width: 95%; 
   background-color: white;
   margin: auto;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}
.perfilBlocosTop {
   align-items: center;
}
.PerfilBlocosTopicos{
    
}
@media (max-width:400px) {
    .SwipeableViews{
        height: 67vh;
        width: 100%;
        overflow-y: scroll;
    }
    .ElementoDaLista{
        display: none;
    }
    .ElementoDaListaMobile{
        display: block;
    }
}