.homeLeft{

   height: 90vh;
   overflow-y: scroll;
   width: 40%;
   padding: 10px;
}
.homeRight{
    padding: 3%;
    height: 90vh;
    overflow-y: scroll;
    width: 100%;
    /* overflow-x: hidden; */
}
.homeMobileLeft, .homeMobileRight, .btnMobileAppBar{
    display: none;
}
.HomeRightHeader{
    background-color: lightblue;
    margin-bottom: 100px;
    display: flex;
    height: 150px;
}
.HomeRightContainer{
    

}
.homeContainer{
    display: flex;
    width: 80%;
    margin: auto;
}
.HomeRightNome{
    color: white;
}
.elementoDaLista{
    display: flex;
    margin: 3%;
    padding: 3%;
    border: solid black 1px;
    border-radius: 3px;
    cursor: pointer;
}
.elementoDaLista:hover{
    border: solid 1px lightblue
}
.elementoDaListaAvatar{
    margin-right: 5%;
}
.HomeRigthImg{
    max-height: 400px;
}
.elementoVazio{
    display: flex;
    justify-content: center;
    align-items: center;
    height:400px ;
}
@media (max-width:400px) {
    .homeContainer{
        width: 100%;
    }
    .homeMobileLeft, .homeMobileRight, .btnMobileAppBar{
        display: block;
    }
    .homeLeft, .homeRight{
        display: none;
    }
    .HomeRightContainer{
        width: 100vw;
    }
    .HomeRightHeader{
        height: 120px;
        justify-content: space-around;
        align-items: center;
    }
    .HomeRightDados{
        padding: 3%;
    }
}