.loginContainer{
   max-width: 350px;
   margin: auto;
}
.loginContainer h1{
    text-align: center;
}
.loginBody{
    display:flex;
    flex-direction: column;
    height: 200px;
}
.labelEmail,.labelSenha{
   color:rgb(232, 17, 17);
   margin-left: 10px;
}
