.HomeRightHeader{
    background-color: #0288d1;
    margin-bottom: 100px;
    display: flex;
    
    height: 150px;
    color: white;
}
.homeRight{
    padding: 0;
    height: 90vh;
   
    width: 100%;
    /* overflow-x: hidden; */
}
.HomeRightNome{
    color: white;
    margin: 20px;
}
.HomeRightDados{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.HomeRigthImg{
    max-height: 400px;
}
.HomeRightDadosItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    margin: 10px;
    padding:20px 10px;
    border-radius: 10px;
}
.chatContainer{
    background-color: white;
    box-shadow: 1px 1px 5px black;
    width: 300px;
    height: 450px;
    border-radius: 5px;
}
.visible{
   position: fixed;
   right: 70px;
   bottom: 70px;
   transition: 0.8s;
   opacity: 1;
   z-index: 2;
}
.invisible{
    position: fixed;
    right: -50px;
    bottom: -10px;
    transition: 0.8s;
    opacity: 0;
}
.chatBackgroundFull{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;

}
.chatConainerBody{
    height: inherit;
    
}

.chatConainerBodyHeader{
    height: 10%;
    padding: 2%;
    background-color:#e3f2fd;
    display: flex;
}
.chatConainerBodyContent{
    height: 80%;
    overflow-y: scroll;
}
.chatConainerBodyContent::-webkit-scrollbar-thumb{
    background-color:#66bb6a;
    border-radius: 5px;
}
.chatConainerBodyContent::-webkit-scrollbar{
    width: 8px;
}
.chatConainerBodyFooter{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.HomeRightContainer{
    background-color: #e3f2fd;  
    height: calc(100vh - 70px); 
}
.elementoVazio{
    background-color: #e3f2fd;
    height: calc(100vh - 70px);
    padding: 5%;
}
.elementoVazioBody{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ImagemSelecionarUsuario{
    margin-top: 20px;
    width: 40%;
}
.chatConainerBodyContent{

    transform: rotateX(180deg);
}

.mensagensBody{
    transform: rotateX(180deg);
    
}
.mensagemReceptor{
    max-width: 70%;
    margin-left: auto;
    margin-right: 7px;
    text-align: end;
    background-color: rgb(129, 231, 129);
    padding: 5px;
    border-radius: 10px;

}
.mensagemDoEmissor{
    margin: 7px;
    max-width: 70%;
    margin-right: auto;
    margin: 10px 0px;
    background-color: rgb(146, 146, 255);
    padding: 5px;
    border-radius: 10px;
    color: white;
}
@media (max-width:400px) {
    .chatContainer{
      width:250px ;
    }
    .visible{
        right: 70px;
    }
    .HomeRightContainer{
        width: 100vw;
        height: 100%;
    }
    .HomeRightHeader{
        height: 120px;
        justify-content: space-between;
        align-items: center;
    }
    .HomeRightDados{
        padding: 3%;
    }
    .HomeRightDados{
       grid-template-columns: 1fr;
    
    }
    .HomeRightDadosItems{
        margin-bottom: 40px;
        min-height: 300px;
    }
    
}